@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

.topBar{
    column-gap: 5px;
    margin: 0;
    padding: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.orderNo {
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
}
.orderAddress {
    font-size: 12px;
    color: #aaa;
    padding-top: 5px;
}
.orderDue {
    font-size: 11px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.round {
    border-radius: 50%;
    height: 25px;
    border: 1px solid #aaa;
    width: 25px;
}